body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(246, 251, 255);
}
.nav-bg {
  background-color: rgb(212, 75, 75);
}
.nav-item > a {
  padding: 5px 10px;
  color: bisque;
  font-size: larger;
}
.navbar-nav > li:hover,
.nav-item > a:hover {
  background: #000;
  color: white;
  border-radius: 15px;
}
.mt-100 {
  margin-top: 100px;
}
.border-radius {
  border-radius: 20px;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.available-header {
  background: #000;
  color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 8px grey;
}
.card {
  box-shadow: 4px 4px 8px black;
}
.card {
  height: 100%; /* Ensures all cards take full height */
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-body {
  flex-grow: 1; /* Makes sure all card bodies expand equally */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body a {
  width: 100%; /* Makes buttons full width */
}

.event-container {
  background-color: rgb(27, 27, 99);
}
.details-img {
  width: 100%;
  height: auto;
}
.details-img img {
  width: 100%;
}
.filter-by-blood {
  background-color: rgb(118, 13, 223);
  padding: 20px;
  border-radius: 20px;
}
.footer-bg {
  background-color: rgb(1, 1, 15);
}
.form-container {
  background-color: rgb(176, 243, 243);
  border-radius: 15px;
}
